<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5433/hibernate_starter_db</property>
    <property name="connection.password">beko</property>
    <property name="connection.username">beko</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

<!--    Добавляем сущность в SessionFactory,-->
<!--    Можно также добавить с помощью java метода-->
    <mapping class="com.beko.entity.User"/>
    <mapping class="com.beko.entity.Company"/>
    <mapping class="com.beko.entity.Profile"/>
    <mapping class="com.beko.entity.Chat"/>
    <mapping class="com.beko.entity.UserChat"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
